<!DOCTYPE html>
<link rel='stylesheet' href='/stylesheets/play.css'/>
<body>
<center><img src = "/images/battlebackground.png"style = "width: 1000px; height: 600px;"></center>
<img src = "/images/btn1.png" onclick = ""></img>
<img src = "/images/btn2.png"onclick = ""></img>
<img src = "/images/btn3.png"onclick = ""></img>
<img src = "/images/btn4.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>
<img src = "/images/pokeball.png" style = "width: 45px; top: 500px; left: 250px" ></img>

</body>