<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <center><h1><%= title %></h1></center>
        <center><img src = "/images/battlebackground.png"; style = "width: 50%; height: 50%;"></center>
        <img src = "/images/btn2.png" onclick = ""></img>
        <img src = "/images/btn2.png"onclick = ""></img>
        <img src = "/images/btn2.png"onclick = ""></img>
        <img src = "/images/btn2.png"onclick = ""></img>
        <img src = "/images/switchbtn.png"onclick = ""></img>
        <img src = "/images/switchbtn.png"onclick = ""></img>
        <img src = "/images/switchbtn.png"onclick = ""></img>
        <img src = "/images/switchbtn.png"onclick = ""></img>
        <img src = "/images/switchbtn.png"onclick = ""></img>
        <img src = "/images/switchbtn.png"onclick = ""></img>
    </body>
</html>