
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/play.css'/>
    </head>
    <body>
        <center><h1><%= title %></h1></center>
        <center><img src = "/images/battlebackground.png"; style = "width: 50%; height: 50%;"></center>
       <center><p>
        <button type="button"  id = "move" onclick="">a</button>
        <button type="button"  id = "move" onclick="">b</button>
        <button type="button"  id = "move" onclick="">c</button>
        <button type="button"  id = "move" onclick="">d</button>
    </p></center>
   <center> <p> 
        <button type = "button" id = "swit" onclick = "">1</button>
        <button type = "button" id = "swit" onclick = "">2</button>
        <button type = "button" id = "swit" onclick = "">3</button>
        <button type = "button" id = "swit" onclick = "">4</button>
        <button type = "button" id = "swit" onclick = "">5</button>
        <button type = "button" id = "swit" onclick = "">6</button>
    
    </p></center>
        
    </body>
</html>
