<!DOCTYPE html>
<link rel='stylesheet' href='/stylesheets/play.css'/>
<body>
<center><img src = "/images/battlebackground.png"style = "width: 1000px; height: 600px;"></center>
<img src = "/images/btn1.png" onclick = ""></img>
<img src = "/images/btn2.png"onclick = ""></img>
<img src = "/images/btn3.png"onclick = ""></img>
<img src = "/images/btn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
<img src = "/images/switchbtn.png"onclick = ""></img>
</body>