<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <center><h1><%= title %></h1></center>
        <center><img src = "/images/battlebackground.png"; style = "width: 50%; height: 50%;"></center>
        <img src = "/images/PBACK/mew.png" style = "position: absolute; top: 203px; left: 415px; height: 400px; width: 400px;">
        <img src = "/images/PFRONT/mewtwo.png" style = "position: absolute; top: 100px; left: 675px; height: 300px; width: 300px;">
        <button type="button" style="width: 25%; height: 10%" onclick="">a</button>
        <button type="button" style="width: 25%; height: 10%" onclick="">b</button>
        <button type="button" style="width: 25%; height: 10%" onclick="">c</button>
        <button type="button" style="width: 24%; height: 10%" onclick="">d</button>
    </body>
</html>