<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class = "bg">
    <center>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<a href = "/play"><button type="button"><font size = "100" color = "red">PLAY!</font> <font size = "6"> <p>vs cpu</p></font></button></a>
    </center>
  </body>
</html>