
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class = "bg">
    <img src = "START.png">
    <center>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<a href = "/play"><img src = "/images/START.png"></img></a>
    </center>
  </body>
</html>